index_se.txt
sook_se.txt
.idea/vcs.xml
.idea/marmenlind_portfolio.iml
.idea/modules.xml
.idea/encodings.xml
public/
resources/_gen/
.hugo_build.lock
node_modules/
static/css/main.css
assets/generated.css
